<div class="login-app-name d-flex flex-column align-items-center justify-content-center">
  <p>
    Save Your Money
  </p>
  <div class="log-sign-btns jusitfy-self-end position-absolute bottom-0">
    <%=button_to 'Log in', login_path,class:'btn log-in-btn text-white', method: :get %>
    <%=button_to 'Sign up', new_user_path,class:'btn  sign-up-btn text-secondary', method: :get %>
  </div>
</div>
