<div class="total-expense d-flex flex-column px-2 position-relative">
  <div class="exp-total fw-bold  d-flex justify-content-center align-items-center mt-1 mb-4">
    <span class="me-2">
      Expenses:<%=@expenses.count%>
    </span>
    <span>
      Total amount: <%= total_expense(@expenses)  %>
    </span>
  </div>
  <%= render 'expense' %>
  <div class="new-ex-btn text-center bg-succes position-fixed d-flex align-items-center justify-content-center">
    <%= link_to 'New Expense', new_expense_path, class:'text-white text-decoration-none new-exp' %>
  </div>
</div>
