<h1>Expenses</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Creator</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <%= render 'expense' %>
  </tbody>
</table>
<br>
<%= link_to 'New Expense', new_expense_path %>
